*{
    margin: 0px;
    padding: 0px;
}
.button{
    width: 70px;
    height:70px;
    font-size:20px;
    margin: 2px;
    cursor: pointer;
    background-color: whitesmoke;
    border: none;
    border-radius: 10%;
}
.textview{
    width: 300px;
    font-size:30px;
    padding:15px;
    margin-bottom:10px ;
    border-radius:15%;    
}
.main{
    position: absolute;
    top:15%;
    left: 40%;
}
